APP_URL=YOUR_APP_URL
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE
JWT_SECRET=YOUR_JWT_SECRET
NODE_ENV=YOUR_NODE_ENV
UPLOAD_DIR=YOUR_UPLOAD_DIR

SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_SECURE=YOUR_SMTP_SECURE
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASS
SMTP_FROM=YOUR_SMTP_FROM
